{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/form.css" />
{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Developer Form</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="index.html">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="/lilygo-data">developer-form</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Developer Form</div>
						</div>
						<div class="card-body">
                            <form id="developerForm">
                                <div class="form-group">
                                    <label for="developerName">Developer Name</label>
                                    <input type="text" class="form-control" id="developerName" name="developerName" placeholder="Enter Developer Name">
                                </div>
                                <div class="form-group">
                                    <label for="projectName">M5 Hardware ID</label>
                                    <input type="text" class="form-control" id="m5hardwareid" name="m5hardwareid" placeholder="Enter M5 Hardware ID">
                                </div>
                                <div class="form-group">
                                    <label for="geofence">Geofence Area</label>
                                    <select class="form-control" id="geofence" name="geofence">
                                        <option>Flat A</option>
                                        <option>Flat B</option>
                                        <option>Flat C</option>
                                    </select>
                                </div>
                                <div class="button-wrapper">
                                    <button type="submit" class="btn btn-primary btn-border btn-round btn-sm form-button">Submit</button>
                                </div>
                            </form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        const $submitButton = $('.form-button');
        const $inputs = $('#developerForm input[type="text"], #developerForm select');

        function checkInputs() {
            let allFilled = true;
            $inputs.each(function() {
                if ($(this).val() === '') {
                    allFilled = false;
                    return false;
                }
            });
            $submitButton.prop('disabled', !allFilled);
        }

        checkInputs();

        $inputs.on('keyup change', function() {
            checkInputs();
        });
    });
</script>
{% endblock javascripts %}
