{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

{% block content %}

<div class="map-container">
    <!-- Your existing HTML structure -->
    <div class="info-wrapper col">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="elderlydropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="selectedElderly">Elderly 1</span>
            </button>
            <div class="elderly dropdown-menu" aria-labelledby="elderlydropdownMenuButton">
                <!-- Dynamically generate dropdown items from MongoDB data -->
                {% for document in documents %}
                    <a class="elderly dropdown-item" href="#" data-elderly="{{ document['name'] }}">{{ document['name'] }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
